@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Roboto:400,700|Source+Sans+Pro:400,700');
.intro-header{background-size: cover;background-repeat: no-repeat;width: 100%;height: 400px;margin-top: 4%;}
.inline-block{display: inline-block;}
.post-preview a {transition: all 0.5s linear;}
.post-preview a:hover, a:focus {color: #e10204;}
.navbar-default .navbar-nav > li > a:hover{transition: all 0.5s linear;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #e10204;}
.site-heading{font-family: 'Montserrat', sans-serif;color:#fff;}